/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@import 'flowbite/src/themes/default';
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";

body,
html {
  font-family: 'SN Pro', sans-serif;
  background-color: #f6f7fb;
  color: #1a1d2e;
}

@theme {
  --color-main-color: #00298d;
  --color-secondary-color: #f0f2f5;
}
@utility container {
  margin-inline: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #475569;
}
